*{
    box-sizing: border-box;
}
 h1, h2 { 
     font-family: 'Georgia', Times, 'Times New Roman', serif;
 }



header {    
    border-bottom: 3px;
    border-bottom-style: solid;
    border-color: #cccccc;
    padding: 0;
    margin: 0;
}
.topnav {
    overflow: hidden;
    background-color: #ffffff;
    width: 960px;
    text-align: center;
    padding: 0;
    margin: 0 auto 0 auto;
}

/* isolates the name away from the other buttons */
#name{
    position: relative;
    margin: 0 auto 0 auto;
    background-color: #4aaaa5;
    color: white;
    float: left;
    padding: 20px;
 
}
/* the buttons at the top of every page */
#navlink {
    position: absloute;
    float: right;
    padding-top: 30px;

}

a {
    text-decoration: none;
    padding: 8px 14px 8px 14px;
    margin: 5px;
    font-size: 17px;
    text-align: center;
    color: black;
    position: relative;
    
}

p, a {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
#contactButton {
    margin-right: 0px;
}


/* Change the color of links on hover  */
/* but only all at once. needs to be made to work individually */
a:hover {
    background-color: #ddd;
    color: black;
  }

/* heading within the contentContainer area */
#page_heading {
    color: #4aaaa5;
}

/* container margin-right doesnt respond*/
.contentContainer {
    float: center;
    width: 960px;
    overflow: auto;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1in;
    margin-bottom: 2in;
    border: 2px solid #dddddd;
    
}

#subHead {
    border-bottom: 3px solid #dddddd;
    
    margin-left:30px;
}

.page_content {
    padding: 30px;
}
#bio_pic {
    height: 250px;
    width: 250px;
    float: left;
    margin-right: 15px;
}

p {
    font-size: 18;
    line-height: 20px;
}